app_server/views/informacije.jade
extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Spletnik je podjetje za prodajo knjig in filmov. Z veseljem delujemo že vse od leta 2019
        | <br/><br/>
        | Stopite v kontakt z nami:
        | <br/><br/>
      table
        tr
            td.celica
                 h1 
                    span.glyphicon.glyphicon-map-marker
            td  
                p Spletnik d.s.s.t (družba za simuliranje spletne trgovine) <br/>
                    | Ulica padlih študentov 13 <br/>
                    | 1000 Ljubljana
        tr
            td.celica
                h1 
                    span.glyphicon.glyphicon-phone-alt
            td  
                p 040/123-456
        tr
            td.celica
                h1 
                    span.glyphicon.glyphicon-envelope
            td  
                p info@spletnik.si
      

app_client/informacije/informacije.pogled.html
<navigacija></navigacija>

<div class="container">
  <glava vsebina="vm.glavaStrani"></glava>


    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p>
          Spletnik je podjetje za prodajo knjig in filmov. Z veseljem delujemo že vse od leta 2019
          <br/><br/>
          Stopite v kontakt z nami:
          <br/><br/>
        </p>
        <table>
          <tr>
            <td class="celica">
              <h1> <span class="glyphicon glyphicon-map-marker"></span></h1>
            </td>
            <td class="celica">
              <p>
                Spletnik d.s.s.t (družba za simuliranje spletne trgovine) <br/>
                Ulica padlih študentov 13 <br/>
                1000 Ljubljana
              </p>
            </td>
          </tr>
          <tr>
            <td class="celica">
              <h1> <span class="glyphicon glyphicon-phone-alt"></span></h1>
            </td>
            <td class="celica">
              <p>040/123-456</p>
            </td>
          </tr>
          <tr>
            <td class="celica">
              <h1> <span class="glyphicon glyphicon-envelope"></span></h1>
            </td>
            <td class="celica">
              <p>info@spletnik.si</p>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <noga></noga>
</div>
