app_client/seznam/seznam.pogled.html
<navigacija></navigacija>

<div class="container">
  <glava vsebina="vm.glavaStrani"></glava>
  <div class="row">
    <label for="filter">Filtriranje izdelkov</label>
    <input id="filter" type="text" name="filter" ng-model="filterRezultatov"/>
    <div ng-controller="seznamCtrl" class="col-xs-12">
      <div class="error">{{ vm.sporocilo }}</div>
      <div class="row">
        <div ng-repeat="izdelek in vm.data.izdelki | filter: filterRezultatov" class="col-xs-12 col-sm-6 col-md-4 list-group-item float-left">
          <div class="col-xs-6"><img src="{{ izdelek.slika }}" class="img-thumbnail"/></div>
          <div class="col-xs-6">
            <h2><a href="/izdelek/{{ izdelek._id }}">{{ izdelek.naziv }}</a></h2>
            <p> <strong>{{ izdelek.avtor }}</strong></p>
            <p>Katerogija: {{ izdelek.kategorija }}</p>
            <p>Zvrst: {{ izdelek.zvrst }}</p>
            <p><small prikazi-oceno ocena="izdelek.ocena"></small></p>
            <p>{{ izdelek.cena }} €</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <noga></noga>
</div>

app_server/views/seznam.jade
extends layout

include _include/skupneHTMLfunkcije.jade

block content
  #banner.page-header
    .row
      .col-lg-12
        h1=glava
  .row
    label(for="filter") Filtriranje izdelkov
    input#filter(type="text", name="filter", ng-model="filterRezultatov")
    .col-xs-12(ng-controller="seznamIzdelkovCtrl")
      .error {{ sporocilo }}
      .row
        .col-xs-12.col-sm-6.col-md-4.list-group-item.float-left(ng-repeat="izdelek in data.izdelki | filter: filterRezultatov")
          .col-xs-6
            img.img-thumbnail(src="{{ izdelek.slika }}")
          .col-xs-6
            h2
              a(href="/izdelek/{{ izdelek._id }}") {{ izdelek.naziv }}
            p 
              strong {{ izdelek.avtor }}
            p Katerogija: {{ izdelek.kategorija }}
            p Zvrst: {{ izdelek.zvrst }}
            p
              small(prikazi-oceno, ocena="izdelek.ocena")
            p {{ izdelek.cena }} €
      
    
      
      
      
